body {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    background-color: #022835;
    color: rgba(255, 255, 255, 0.373);
    height: 100vh;
    overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

#glow {
    position: fixed;
    pointer-events: none;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 75%);
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
    transition: background 0.3s ease;
    z-index: 9999;
    filter: blur(50px);
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    font-size: 12px;
    margin: 10px 0 15px 160px;
}

.sidebar nav ul li a {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.15em;
    color: rgba(255, 255, 255, 0.482);
    text-decoration: none;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.4s ease, color 0.2s ease, padding-left 0.2s ease;
    font-weight: bold;
    padding-left: 0;
    position: relative;
}

.sidebar nav ul li a::before {
    content: "———";
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: -40px;
    transition: content 0.3s ease;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    color: rgba(255, 255, 255, 0.9);
    padding-left: 20px;
}

.sidebar nav ul li a:hover::before,
.sidebar nav ul li a.active::before {
    content: "——————";
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.9);
}

a.clean-link {
    color: rgba(255, 255, 255, 0.921);
    text-decoration: none;
    transition: color 0.5s;
}
a.clean-link:hover {
    color: #00ffc8;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    background-color: #022835;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar h1 {
    margin: 60px 0 5px 120px; /* top, right, bottom, left */
    font-size: 64px;
    color: rgba(255, 255, 255, 0.581);
}

.sidebar h2 {
    margin: 0 0 40px 120px; 
    font-size: 20px;
    color: rgba(255, 255, 255, 0.581);
}

.content {
    margin-left: 45vw;
    margin-right: 10vw;
    padding-top: 80px;
    width: 45vw;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none;        
    -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
    display: none;                
}

#about {
    margin-bottom: 100px; 
}

#education{
    margin-bottom: 100px;
}

.edu-card {
    display: flex;
    gap: 20px;
    background-color: #022835;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;      
    overflow: hidden; 
}

.edu-card:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.edu-year {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    min-width: 110px;
    padding-top: 5px;
    font-size: 12px;
}

.edu-content {
    flex-grow: 1;
}

.edu-title {
    color: rgba(255, 255, 255, 0.921);
    font-weight: bold;
    margin-bottom: 6px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: color 0.5s;
}

.edu-card:hover .edu-title {
    color: #00ffc8;
}

.edu-tags {
    margin-top: 10px;
}

.edu-tags span {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 10px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

#education h2{
    margin-top: 80px;
    margin-left: 20px;
}

#education h2 a{
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    text-decoration: none;
    transition: color 0.5s;
}

#education h2 a:hover{
    color: #00ffc8;
}

.project-card{
    display: flex;
    gap: 20px;
    background-color: #022835;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;      
    overflow: hidden; 
}

.project-card:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.project-image {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    min-width: 110px;
    padding-top: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-content {
    flex-grow: 1;
}

.project-title {
    color: rgba(255, 255, 255, 0.921);
    font-weight: bold;
    margin-bottom: 6px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: color 0.5s;
}

.project-card:hover .project-title {
    color: #00ffc8;
}

.project-tags {
    margin-top: 10px;
}

.project-tags span {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 10px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.social-icons {
    position: absolute;
    bottom: 40px;     
    left: 50%;        
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
}

.social-icons a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    color: #1da1f2; 
}

